$bg-gray-light: #EEE;
$bg-white: #FFF;
$bg-gray-dark: #38474D;
$bg-green: #78BD43;
$bg-dark-green: #007A00;
$bg-back: #000;
$bg-gradient-base: rgb(240,242,242);
$bg-gradient-gray-blue: linear-gradient(180deg, rgba(240,242,242,1) 0%, rgba(255,255,255,1) 11%, rgba(209,219,221,1) 100%);
