$color-red: #E6192A;
$color-green: #82C153;
$color-gray: #333;
$color-green-dark: #78BD43;
$color-dark-gray: #455359;
$color-medium-gray: #6F7477;
$color-yellow: #F9C107;
$color-white: #FFF;
$color-dark-yellow: #DA9000;
