{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/app/components",
          "@Screens": "./src/app/Screens",
          "@redux": "./src/redux",
          "@assets": "./src/assets",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
