{
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@components": "./src/app/components",
        "@screens": "./src/app/screens",
        "@redux": "./src/redux",
        "@assets": "./src/assets",
        "@board": "./src/app/screens/game/components/board",
        "@square": "./src/app/screens/game/components/square",
        "@game": "./src/app/screens/game"
      }
    }]
  ]
}
