### Sass ###
.sass-cache/
Maquetado/.sass-cache/
Maquetado/.scss-cache/
Maquetado/*.css.map
Maquetado/*.sass.map
Maquetado/*.scss.map
Maquetado/*.css
Maquetado/**/*.sass.map
Maquetado/**/*.scss.map
Maquetado/**/*.css
Maquetado/**/application.css.map

## System ##
.DS_Store
.vscode
Maquetado/scss/application.css
READ.md
application.css
.idea/workspace.xml
