@import 'colors';
@import 'fonts';
@import 'backgrounds';

.game {
  display: flex;
  margin: 0 auto;
  width: 60%;
}

.viewFeatured {
  flex-basis: 40%;
}

.view {
  flex: 200px;
  vertical-align: top;

  .listMove {
    display: block;
    font-weight: bold;
    padding: 0;
  }

  .title {
    color: $color-green;
    font-family: $font-cursive;
    font-size: 30px;
    font-weight: bold;
  }
}

.showMove {
  background-color: $bg-gray-dark;
  border: 3px solid $color-gray;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 5px 0;
  padding: 5px 15px;
  text-align: left;
  transition-duration: 700ms;
  width: 100%;

  &:hover {
    background-color: $bg-green;
  }
}

@media screen and (max-width: 1200px) {
  .game {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .view,
  .viewFeatured {
    display: block;
    flex-basis: 100%;
    width: 100%;
  }

  .game {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .row {
    text-align: center;
  }
}
