@import 'colors';
@import 'fonts';
@import 'backgrounds';

body {
  margin: 0;
}

.game {
  display: flex;
  margin: 0 auto;
  width: 60%;
}

.viewFeatured {
  flex-basis: 40%;
}

.view {
  vertical-align: top;
  width: 60%;

  .listMove {
    display: block;
    font-weight: bold;
    padding: 0;
  }

  .title {
    color: $color-green;
    font-family: $font-cursive;
    font-size: 30px;
    font-weight: bold;
  }
}

.row {
  display: inline-block;
  width: 10%;
}

.showMove {
  background-color: $bg-gray-dark;
  border: 3px solid $color-gray;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 5px 0;
  padding: 5px 15px;
  text-align: left;
  transition-duration: 700ms;
  width: 100%;

  &:hover {
    background-color: $bg-green;
  }
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 100px;
}

.app-header {
  background-color: $bg-gray-light;
  height: auto;
  padding: 20px;
  text-align: center;
}

.app-title {
  color: $color-gray;
  font-family: $font-cursive;
  font-size: 35px;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .game {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .view,
  .viewFeatured {
    display: block;
    flex-basis: 100%;
    width: 100%;
  }

  .game {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .row {
    text-align: center;
  }
}
