@import 'backgrounds';
@import 'colors';
@import 'fonts';

body {
  margin: 0;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 100px;
}

.app-header {
  background-color: $bg-gray-light;
  height: auto;
  padding: 20px;
  text-align: center;
}

.app-title {
  color: $color-gray;
  font-family: $font-cursive;
  font-size: 35px;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
