@import 'backgrounds';
@import 'colors';
@import 'fonts';

body {
  margin: 0;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 100px;
}

.app-header {
  background-color: $bg-gray-light;
  display: flex;
  flex: wrap;
  height: auto;
  padding: 20px;
  text-align: center;
}

.child {
  min-width: 23em;
}

.childfeatured {
  flex-basis: 80%;
}

.app-title {
  color: $color-gray;
  font-family: $font-cursive;
  font-size: 35px;
}

.alignright {
  justify-content: flex-end;
  text-align: right;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: $bg-green;
  border: 0;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin: 15px;
  padding: 10px;
}

.menu {
  li {
    display: inline-flex;
  }
}
