footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-flow: column nowrap;
  padding:50px 15px 15px 10px;

  .text-footer {
    color: white;
    font-family: $font-roboto;
    font-size: $text-big;
  }

  .copy {
    align-self: flex-end;
    color: white;
    font-size: $text-small;
    font-weight: normal;
  }
  
  .img-logo {
    max-width: 400px;
  }
}
