.head {
  align-items: center;
  background-color: $white-snow;
  box-shadow: 2px 2px 15px $grey-light;
  display: flex;
  flex-wrap: nowrap;
  height: $nav-height;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1;

  .title-head {
    color: $grey-dark;
    font-size: $text-big;
  }
}
