<<<<<<< HEAD

$tech-logo-size: 100px;
$green: #BED23C;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;

.row {
    display: flex;
    flex-flow: row nowrap; 
    height: 100%;
}

.col {
    border: 2px solid $green;
    border-radius: 5px;
    margin: 1em;
    min-height: 350px;
    padding: 1em;
    position: relative;
    width: 24%;
}

.square {
    background-color: $green;
    border-radius: 5px;
    min-height: 350px;
    right: -12px;
    left: 12px;
    padding: 1em;
    position: absolute;
    top: 12px;
}

img {
    height: $tech-logo-size;
    width: 100%;
}

h3 {
    display: block;
    font-size: $text-big;
    margin: 10px 0;
    text-align: center;
}

span {
    display: block;
    font-weight: bold;
    font-size: $text-medium;
    text-align: center;
}

p{
    display: block;
    padding: 20px;
    text-align: center;

=======
.row {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 25px;
  position: relative;
  width: 250px;

  &:first-child {
    border-right: 2px solid $green;
    grid-row: 1 / span 2;
    padding-top: 208px;
  }
}

.img-tech {
  height: $tech-logo-size;
  margin-bottom: 10px;
  max-width: 100%;
}

.title-tech {
  font-size: $text-big;
  margin-bottom: 10px;
  text-align: center;
}

.release-tech {
  font-size: $text-medium;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.txt-tech {
  text-align: center;
}

.img-tech {
  height: $tech-logo-size;
  margin-bottom: 10px;
  max-width: 100%;
}

.title-tech {
  font-size: $text-big;
  margin-bottom: 10px;
  text-align: center;
}

.release-tech {
  font-size: $text-medium;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.txt-tech {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .tech:first-child {
    border-right: initial;
    grid-row: initial;
    padding-top: initial;
  }

  .tech {
    border-bottom: 2px solid $green;
    margin: 0 auto 40px;
    width: 60%;

    &:last-child {
      border-bottom: none;
    }
  }

  .row {
    grid-template-columns: initial;
  }

  .content {
    padding-left: 25px;
    padding-right: 25px;
  }
>>>>>>> master
}
