.title {
  align-items: center;
  background: url(assets/triangle.svg) no-repeat;
  color: $grey-dark;
  display: flex;
  font-family: $font-roboto;
  font-size: $text-big;
  height: 100px;
  margin: 0 auto;
  padding-left: 60px;
}
