// Colors 
$green: #BED23C;
$blue: #00ADEE;
$grey: #C4C4C4;
$gray-dark: #333;

// Fonts
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
$font-roboto: 'Roboto', sans-serif;

// Sizes 
$nav-height: 90px;
$nav-logo-height: 30px;
$tech-logo-size: 100px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
