@import 'colors';
@import 'backgrounds';
@import 'fonts';
/* scss square */
.square {
  background: $bg-white;
  border: 3px double #333;
  border-radius: 0 25px 0 25px;
  display: inline-flex;
  font-family: $font-cursive;
  font-size: 24px;
  font-weight: bold;
  height: 80px;
  justify-content: center;
  line-height: 34px;
  margin: 5px;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 80px;

  &:focus {
    outline: none;
  }

  &:nth-child(2n) {
    color: $color-red;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
}
